n8n-workflows/workflow-email-listener.json
{
  "name": "Job Search - Email Listener & Auto-Organizer",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject:(application OR interview OR offer OR position OR role OR opportunity OR congratulations OR unfortunately) newer_than:1d -from:odeliya.charitonova.dev@gmail.com"
        }
      },
      "id": "12f2f8a4-5c78-418c-8f73-ccc467c345be",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        208
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Xa5HkqQsHv2zfLn3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// WHY runOnceForAllItems + $input.all():\n// Gmail Trigger can return items where the email data sits at different levels.\n// By inspecting all items and trying multiple access patterns, we handle\n// whatever structure the trigger actually produces.\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Try every known location Gmail Trigger might put the data\n  const raw = item.json ?? {};\n\n  const subject = (raw.subject || raw.Subject || raw.headers?.subject || '').toLowerCase();\n  const body = (raw.text || raw.textPlain || raw.snippet || raw.body || raw.payload?.body?.data || '').toLowerCase();\n  const from = (raw.from || raw.From || raw.headers?.from || '').toLowerCase();\n\n  const rejectionKeywords = [\n    'unfortunately', 'not moving forward', 'decided to move',\n    'other candidates', 'not a match', 'unsuccessful', 'regret',\n    'not selected', 'filled the position', 'will not be proceeding'\n  ];\n  const interviewKeywords = [\n    'interview', 'schedule', 'availability', 'phone screen',\n    'next steps', 'speak with you', 'calendar', 'zoom', 'meet'\n  ];\n  const offerKeywords = [\n    'offer', 'congratulations', 'pleased to offer', 'job offer',\n    'compensation', 'start date', 'onboarding'\n  ];\n\n  let emailType = 'unknown';\n  let rejectionStage = 'application';\n\n  if (body.includes('phone') || body.includes('initial')) rejectionStage = 'phone_screen';\n  else if (body.includes('technical') || body.includes('coding')) rejectionStage = 'technical';\n  else if (body.includes('final') || body.includes('onsite')) rejectionStage = 'final_round';\n\n  if (rejectionKeywords.some(kw => subject.includes(kw) || body.includes(kw))) {\n    emailType = 'rejection';\n  } else if (offerKeywords.some(kw => subject.includes(kw) || body.includes(kw))) {\n    emailType = 'offer';\n  } else if (interviewKeywords.some(kw => subject.includes(kw) || body.includes(kw))) {\n    emailType = 'interview_invite';\n  } else if (subject.includes('application') || subject.includes('received')) {\n    emailType = 'acknowledgement';\n  }\n\n  const companyFromSubject = subject.replace(/re:|fwd:|fw:|application|position|role|job/gi, '').trim();\n\n  results.push({\n    json: {\n      subject: raw.subject || raw.Subject || '',\n      from: raw.from || raw.From || '',\n      body: raw.text || raw.textPlain || raw.snippet || '',\n      email_type: emailType,\n      rejection_stage: rejectionStage,\n      company_hint: companyFromSubject.substring(0, 50),\n      classified_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "3d743b37-7dff-49b5-8bf5-352d0b58e224",
      "name": "Classify Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.email_type }}",
                    "rightValue": "rejection",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejection"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.email_type }}",
                    "rightValue": "interview_invite",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Interview"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.email_type }}",
                    "rightValue": "offer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Offer"
            }
          ]
        },
        "options": {}
      },
      "id": "3014b05b-1a8e-4399-b1d7-56cdafb5f746",
      "name": "Route by Email Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -304,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst stage = d.rejection_stage || 'application';\nconst company = d.company_hint || 'the company';\n\nlet responseTemplate = '';\n\nif (stage === 'phone_screen') {\n  responseTemplate = 'Subject: Thank You - ' + company + ' Application\\n\\nHi [Recruiter Name],\\n\\nThank you for letting me know. I appreciate your time during the phone screen.\\n\\nI\\'d be grateful for any feedback on my candidacy.\\n\\nBest regards,\\nOdeliya Charitonova';\n} else if (stage === 'technical') {\n  responseTemplate = 'Subject: Thank You - ' + company + ' Technical Interview\\n\\nHi [Interviewer Name],\\n\\nThank you for informing me. I enjoyed the technical discussions.\\n\\nAny feedback on my performance would be greatly appreciated.\\n\\nBest regards,\\nOdeliya Charitonova';\n} else if (stage === 'final_round') {\n  responseTemplate = 'Subject: Thank You - ' + company + ' Interview Process\\n\\nHi [Hiring Manager],\\n\\nThank you for letting me know after such a thorough process. I\\'d welcome staying connected.\\n\\nBest regards,\\nOdeliya Charitonova';\n} else {\n  responseTemplate = 'Subject: Thank You - ' + company + ' Application\\n\\nHi,\\n\\nThank you for letting me know. I appreciate your transparency.\\n\\nBest regards,\\nOdeliya Charitonova';\n}\n\nreturn [{\n  json: {\n    subject: d.subject || '',\n    from: d.from || '',\n    body: d.body || '',\n    email_type: d.email_type || '',\n    rejection_stage: stage,\n    company_hint: d.company_hint || '',\n    classified_at: d.classified_at || '',\n    response_template: responseTemplate,\n    folder_target: 'Rejected',\n    obsidian_status: 'Rejected',\n    status_update: 'Rejected - ' + stage,\n    update_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "c8f0c143-d2ae-484d-b503-3843bd83e0db",
      "name": "Handle Rejection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst emailType = d.email_type || 'unknown';\nconst logDate = new Date().toISOString().substring(0, 10);\nconst logPath = 'Obsidian_Vault/Email_Log/' + logDate + '-' + emailType + '.md';\n\nconst statusContent =\n  '# Email Log: ' + (d.subject || 'Unknown Subject') + '\\n\\n' +\n  '- **Date:** ' + logDate + '\\n' +\n  '- **From:** ' + (d.from || 'Unknown') + '\\n' +\n  '- **Type:** ' + emailType + '\\n' +\n  '- **Stage:** ' + (d.rejection_stage || 'N/A') + '\\n' +\n  '- **New Status:** Rejected\\n\\n' +\n  '## Response Template\\n\\n' + (d.response_template || 'N/A') + '\\n';\n\nconst contentBase64 = Buffer.from(statusContent).toString('base64');\n\nreturn [{\n  json: {\n    subject: d.subject || '',\n    from: d.from || '',\n    email_type: emailType,\n    rejection_stage: d.rejection_stage || '',\n    company_hint: d.company_hint || '',\n    response_template: d.response_template || '',\n    obsidian_status: 'Rejected',\n    log_path: logPath,\n    log_content_base64: contentBase64,\n    log_commit_message: 'Email log: ' + emailType + ' - ' + (d.subject || '').substring(0, 50)\n  }\n}];"
      },
      "id": "cfaefa41-c552-4728-9620-911ff4f54445",
      "name": "Update Obsidian - Rejected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/odeliyach/job-search-data/contents/{{ $json.log_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-job-search"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.log_commit_message }}"
            },
            {
              "name": "content",
              "value": "={{ $json.log_content_base64 }}"
            },
            {
              "name": "author.name",
              "value": "Odeliya Charitonova"
            },
            {
              "name": "author.email",
              "value": "odaliya12@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "id": "b3ce1c95-b2b6-4c95-9db8-c7a44fcdc33b",
      "name": "GitHub Commit Email Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        464,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nriQcBdVr3dXV5me",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "odeliya.charitonova.dev@gmail.com",
        "toEmail": "odeliya.charitonova.dev@gmail.com",
        "subject": "=Job Search Update: Rejection - {{ $json.company_hint }}",
        "emailFormat": "html",
        "html": "=<html><body style=\"font-family: Arial, sans-serif; padding: 20px;\"><h2 style=\"color: #dc3545;\">Rejection Received</h2><p><strong>Company:</strong> {{ $json.company_hint }}</p><p><strong>Stage:</strong> {{ $json.rejection_stage }}</p><p><strong>Subject:</strong> {{ $json.subject }}</p><hr/><h3>Suggested Response</h3><pre style=\"background:#f8f9fa;padding:15px;border-radius:5px;\">{{ $json.response_template }}</pre><p><em>GitHub log: {{ $json.log_path }}</em></p><p><em>Status: {{ $json.obsidian_update }}</em></p></body></html>",
        "options": {}
      },
      "id": "6ab8211a-e6da-4a92-ae53-8324eb6897e6",
      "name": "Notify - Rejection Received",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "webhookId": "3db9c8d8-11d8-4092-a4a6-d3fa0fb3602f",
      "credentials": {
        "smtp": {
          "id": "iQMNzIMVnxiFJYWF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{\n  json: {\n    subject: d.subject || '',\n    from: d.from || '',\n    email_type: d.email_type || '',\n    company_hint: d.company_hint || '',\n    obsidian_status: 'Active',\n    folder_target: 'Active',\n    status_update: 'Interview Invited',\n    update_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a6813211-a1df-44e3-919c-80f26b6f1a3f",
      "name": "Update Obsidian - Interview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "fromEmail": "odeliya.charitonova.dev@gmail.com",
        "toEmail": "odeliya.charitonova.dev@gmail.com",
        "subject": "=Interview Invite: {{ $json.company_hint }} - Schedule NOW",
        "emailFormat": "html",
        "html": "=<html><body style=\"font-family: Arial, sans-serif; padding: 20px;\"><h2 style=\"color: #28a745;\">Interview Invite Received!</h2><p><strong>Company:</strong> {{ $json.company_hint }}</p><p><strong>Subject:</strong> {{ $json.subject }}</p><p style=\"background:#d4edda;padding:15px;border-radius:5px;\"><strong>Action Required:</strong> Reply to schedule interview ASAP.</p></body></html>",
        "options": {}
      },
      "id": "41c656c9-f1f1-4706-9435-26c3a2c03e9c",
      "name": "Notify - Interview Invite",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        304,
        208
      ],
      "webhookId": "75c6f3e2-c97b-4ad9-a2b2-4bf558d1d91a",
      "credentials": {
        "smtp": {
          "id": "iQMNzIMVnxiFJYWF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{\n  json: {\n    subject: d.subject || '',\n    from: d.from || '',\n    email_type: d.email_type || '',\n    company_hint: d.company_hint || '',\n    obsidian_status: 'Offers',\n    folder_target: 'Offers',\n    status_update: 'Offer Received',\n    update_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "c9b09747-de11-48f9-831f-f29700a8898d",
      "name": "Update Obsidian - Offer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "odeliya.charitonova.dev@gmail.com",
        "toEmail": "odeliya.charitonova.dev@gmail.com",
        "subject": "=OFFER RECEIVED: {{ $json.company_hint }} - Review Immediately",
        "emailFormat": "html",
        "html": "=<html><body style=\"font-family: Arial, sans-serif; padding: 20px;\"><h2 style=\"color: #007bff;\">Offer Received!</h2><p><strong>Company:</strong> {{ $json.company_hint }}</p><p><strong>Subject:</strong> {{ $json.subject }}</p><p style=\"background:#cce5ff;padding:15px;border-radius:5px;\"><strong>Review the offer carefully. Use Prompt #8 (Salary Negotiation) for guidance.</strong></p></body></html>",
        "options": {}
      },
      "id": "a804a033-8e14-44a9-b63d-11d79e5011a9",
      "name": "Notify - Offer Received",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        304,
        400
      ],
      "webhookId": "260bd8ad-713b-4870-b2b6-71d7d517064a",
      "credentials": {
        "smtp": {
          "id": "iQMNzIMVnxiFJYWF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "id": "dc820697-9771-4bb4-b360-f36886a83460",
      "name": "Log Unknown Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        608
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email": {
      "main": [
        [
          {
            "node": "Route by Email Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Email Type": {
      "main": [
        [
          {
            "node": "Handle Rejection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Obsidian - Interview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Obsidian - Offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Rejection": {
      "main": [
        [
          {
            "node": "Update Obsidian - Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Obsidian - Rejected": {
      "main": [
        [
          {
            "node": "GitHub Commit Email Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Obsidian - Interview": {
      "main": [
        [
          {
            "node": "Notify - Interview Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Obsidian - Offer": {
      "main": [
        [
          {
            "node": "Notify - Offer Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Commit Email Log": {
      "main": [
        [
          {
            "node": "Notify - Rejection Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "96b3cb0c-65e0-4c77-9917-258b349926b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23203e1a41391fea8f8c4fa4ef17097cd293961eaa4c691acf21932d52a39dfe"
  },
  "id": "uKKvjce3pq1o8VwC",
  "tags": []
}
